body {
    background-color: $bg-color;
    max-width: 2400px;
    margin: 0 auto;
}

.main-content .row {
    margin-left: 0;
}

@media screen and (max-width: 1200px) {
    .main-content .row {
        margin-left: calc(-0.5* var(--bs-gutter-x));;
    }
}

img {
    max-width: 100%;
}

img.rounded {
    border-radius: $default-border-radius !important;
}

//bootstrap overriddes
.mt-10 {
    margin-top: $m-10;
}

.mb-10 {
    margin-bottom: $m-10;
}

.my-10 {
    margin-top: $m-10;
    margin-bottom: $m-10;
}