body {
    background-color: $bg-color;
    max-width: 2400px;
    margin: 0 auto;
}

.main-content .row {
    margin-left: 0;
}

img {
    max-width: 100%;
}

img.rounded {
    border-radius: $default-border-radius !important;
}