body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
label {
    color: $primary-text;
    font-family: $default-font-family;
}

body,
a,
p,
input,
select,
textarea,
label {
    font-size: $default-font-size;
    line-height: $defualt-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    font-size: $h2-font-size;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

.teaser {
    text-transform: uppercase;
}

ul li {
    margin-bottom: 0.5rem;
}

.text-highlight {
    color: $primary;
}

.text-highlight-green {
    color: $good-color;
}

.text-highlight-red {
    color: $bad-color;
}

a {
    color: $primary;

    &:hover,
    &:focus,
    &:active {
        color: $primary-text;
    }
}