.btn {
    &.btn-primary,
    &.btn-secondary {
        padding: 0.9rem 2.65rem;
        border-radius: $btn-border-radius;
    }
}

.btn-secondary {
    &.active {
        background-color: $primary;
    }
}