.filter .btn-group .btn {
    font-size: $small-font-size;
    padding: 0.75rem;
    border: none;
    background-color: $bg-color;
    color: $primary-text;

    &.active {
        color: $white;
        background-color: $primary;
    }
}