.chart {
    width: 100%;
    height: 300px;

    text {
        font-family: $default-font-family;
        fill: $primary-text;
    }
}

#prediction-housingmarket,
#rental-prices-states-median,
#disposable-income-mean,
#correlation-ageaverage-populationdesity {
    height: 400px;
}

#counties-top-10 {
    height: 700px;
}