.chart {
    width: 100%;
    height: 300px;

    text {
        font-family: $default-font-family;
        fill: $primary-text;
    }
}

#prediction-housingmarket {
    height: 400px;
}

#rental-prices-states-median {
    height: 400px;
}