.header-img {
    background-image: url("#{$img-path}/map-bg-img.jpg");
    background-color: $white;
    background-size: cover;
    border-radius: $default-border-radius;
    min-height: 18rem;

    p {
        margin-bottom: 2rem;
    }
}