.map {
    border-radius: $default-border-radius;
}

.main-map {
    height: calc(100vh - 56px - 2.25rem);
}

.leaflet-control-attribution a {
    font-size: 0.75rem;
}

@media screen and (max-width: 1200px) {
    .main-map {
        height: calc(60vh - 56px - 2.25rem);
    }
}

.leaflet-popup-content-wrapper {
    color: $primary-text;

    .fa-info-icon {
        fill: $primary-text;
        font-size: .9rem;
        width: 0.9rem;
        height: 0.9rem;

        &:hover,
        &:focus,
        &:active {
            fill: $primary;
        }
    }
}