.quiz-right-answer {
    display: block;
    position: relative;
    overflow: visible;
    font-weight: 600;
    color: $good-color;
    animation: vertical-shaking 0.75s ease-in-out forwards;
}

.quiz-wrong-answer {
    display: block;
    font-weight: 600;
    color: $bad-color;
    animation: horizontal-shaking 0.75s ease-in-out forwards;
}


@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes vertical-shaking {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(5px)
    }

    50% {
        transform: translateY(-5px)
    }

    75% {
        transform: translateY(5px)
    }

    100% {
        transform: translateY(0)
    }
}