// colors
$primary: #1b76ff;
$primary-ligth: #1b76ff3d;
$primary-text: #212B36;
$bg-color: #f4f6f8;
$good-color: #37c474;
$bad-color: #e35252;

$white: #fff;
$white-transparency: rgba(255, 255, 255, 0.7);

// font-familys
$default-font-family: "Inter", sans-serif;

// font-sizes
$default-font-size: clamp(1rem, 0.9422rem + 0.2467vw, 1.2rem);
$h1-font-size: clamp(2.5rem, 2.3554rem + 0.6168vw, 3rem);
$h2-font-size: clamp(2rem, 1.9277rem + 0.3084vw, 2.25rem);
$h3-font-size: clamp(1.8rem, 1.7422rem + 0.2467vw, 2rem);
$h4-font-size: clamp(1.6rem, 1.5422rem + 0.2467vw, 1.8rem);
$h5-font-size: clamp(1.4rem, 1.3422rem + 0.2467vw, 1.6rem);
$h6-font-size: clamp(1.2rem, 1.1422rem + 0.2467vw, 1.4rem);

// line-height
$defualt-line-height: 1.5;

// font-weights
$semi-bold: 600;
$bold: 700;

// border-radius
$default-border-radius: 20px;
$btn-border-radius: 15px;
$border-radius-small: 5px;

// paths
$img-path: "/dist/images";
$font-path: "/dist/fonts";

// margins
$m-10: clamp(3rem, 0.9761rem + 8.6353vw, 10rem);

// box-shadow
$default-box-shadow: 3px 5px 5px 0px #d9d9d9;